body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit',sans-serif;
}
.container{
    max-width: 18rem;
    margin: auto;
    margin-top: 10rem;
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}
.qr-code{
    width: 100%;
    border-radius: 10px;
}
.paragraph-1{
    color: darkblue;
    font-weight: 700;
    font-size: 1.2rem;
}
.paragraph-2{
    font-size: 0.8rem;
    font-weight: 400;
}
@media (max-width:480px){
    .container{
        width: 75vw;
        margin-top: 7.5rem;
    }
}