body{
    background-color: hsl(217, 54%, 11%);
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 19rem;
    height: 32rem;
    font-family: 'Outfit',sans-serif;
    background-color: hsl(216, 50%, 16%);
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 1px 1px 5px black;
        
}
.equilibrium{
    width: 19rem;
    border-radius: 0.7rem;
}
.container h4:hover{
    color: cyan;
}
.container h4{
    color: white;
}
.container p{
    color: rgb(139, 172, 218);
    font-size: 0.9rem;
}
.details{
    display: flex;
    justify-content: space-between;
    padding-bottom:1rem ;
    border-bottom: 1px solid rgb(211, 211, 211,25%);
}
.ethereum{
    color: cyan;
    font-size: 0.8rem;
}

.clock{
    color: hsl(215, 51%, 70%);
    font-size: 0.8rem;
}
.ethereum img,.clock img{
    padding-right: 0.3rem;
    position: relative;
    top: 0.2rem;
}
.creator{
    color: white;
}
.creator img{
    height: 1.7rem;
    border: 1px solid white;
    border-radius: 50%;
}
.text{
    position: relative;
    left: 0.7rem;
    bottom: 0.7rem;
}
.sub-text{
    color: white;
}
.sub-text:hover{
    color: cyan;
}
hr{
    border: 1px solid rgb(88, 88, 88);
}
.view{
    width: 19rem;
    background-color: rgb(0, 255, 255,50%);
    height: 19rem;
    position: absolute;
    top: 1rem;
    border-radius: 0.7rem;
    display: none;
    
}
.view img{
    position: absolute;
    left: 8rem;
    top: 8rem;

}
.equilibrium:hover + div{
    display:block;

}